.h005{
    height: 50px;
}

.h01{
    height: 100px;
}
.h015{
    height: 150px;
}
.h02{
    height: 200px;
}
.h025{
    height: 250px;
}
.h03{
    height: 300px;
}
.h04{
    height: 400px;
}
.h05{
    height: 500px;
}
.h06{
    height: 600px;
}
.h07{
    height: 700px;
}
.h08{
    height: 800px;
}




.colp{
    color:#fb4b6e;
}
.colp1{
    color:black
}
.colp1:hover{
    color:#fb4b6e;
}
.colb{
    color:black  ;
}
.colnb{
    color: #241f33;
}
.colw{
    color: white;
}



.bgcp{
    background-color: #fb4b6e;
}
.bgcdb{
    background-color: hsl(255, 24%, 16%);
}





.fs01{
    font-size: 20px !important;
}
.fs02{
    font-size: 25px !important;
}
.fs03{
    font-size: 30px !important;
}
.fs04{
    font-size: 75px !important;
}


.bt01{
    
    height: 50px;
    background-color: #241f33;
    color: white;
    border-radius: 10px;
    border: none;
}
.bt01:hover{
   
    height: 50px;
    background-color:#d22044;
    color: white;
    border-radius: 10px;
    border: none;
}
.bt02{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid #241f33;
}
.bt02:hover{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid #d22044;
}
.bt03{
    height: 50px;
    background-color:white;
    color: black;
    border-radius: 10px;
    border: 1px solid black
    
}
.bt03:hover{
    height: 50px;
    background-color:black;
    color: white;
    border-radius: 10px;
    border: 1px solid black
    
}
.bt04{
    height: 50px;
   background-color: hsl(255, 24%, 16%);
   color: white;
    border-radius: 10px;
    border: 1px solid white;
}
.bt04:hover{
    height: 50px;
   background-color:#d22044;
   color: white;
    border-radius: 10px;
    border:1px solid white}





.bx{
    transition: 5s;
    box-shadow: 0px 0px 0px 0px black;
}
.bx:hover{
    box-shadow: 5px 8px 3px 3px black;
}
  
    


  
    





.img01{
    border-radius: 15px;
    box-shadow: 10px 8px 0px 5px #241f33;
}



.br{
    border: 1px solid black;
    border-radius: 10px;
}


